In [ ]:
#1.1- Library Installation
pip install kaggle

In [7]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\saddiqq\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saddiqq\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\saddiqq\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\saddiqq\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\saddiqq\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#1.2. Environment Variables

import os
from dotenv import load_dotenv

load_dotenv()

api_username = os.getenv("KAGGLE_USERNAME")
api_key = os.getenv("KAGGLE_KEY")

    # Use the API key and secret to authenticate with the API
    # Example:
    # headers = {"Authorization": f"Bearer {api_key}"}
    # response = requests.get(url, headers=headers)

In [12]:
import pandas as pd

In [13]:
pip install pandas requests

Requirement already satisfied: pandas in c:\users\saddiqq\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: requests in c:\users\saddiqq\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\saddiqq\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import requests #send http request
from io import StringIO

# API endpoint that returns CSV data
base_url = "https://www.kaggle.com/datasets/ankitbansal06/retail-orders/data.csv"

In [ ]:
import os

os.environ['KAGGLE_USERNAME'] = 'your_username'
os.environ['KAGGLE_KEY'] = 'your_key'

from kaggle.api.kaggle_api_extended import KaggleApi
import pandas as pd

# Authenticate
api = KaggleApi()
api.authenticate()

# Download and unzip dataset
api.dataset_download_files('ankitbansal06/retail-orders', path='retail_orders', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders

In [13]:
#3. Data Loading and Inspection
#3.1 # Load the CSV
df = pd.read_csv('retail_orders/orders.csv')
limit = df.head(10)
#df.head(30)
limit

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [17]:
#3.2 #cleaning- missing values
missing_values = df.isnull().sum()
print(missing_values)

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [18]:
#shape
shape = df.shape
print("shape = {}".format(shape))

shape = (9994, 16)

In [19]:
# 4. Data Cleaning and Transformation

# 4.1. Unique values for object-type columns (excluding Order Date)

unique_data = {}
for column in df:
    if 'Order Date' in column:
        continue  
    unique_data[column] = df[column].unique().tolist()

data_set = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in unique_data.items()]))
data_set

,Order Id,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,Second Class,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,Bookcases,FUR-BO-10001798,240.0,260.0,2.0,2.0
1,2,Standard Class,Corporate,NaN,Los Angeles,California,90036.0,West,Office Supplies,Chairs,FUR-CH-10000454,600.0,730.0,3.0,3.0
2,3,Not Available,Home Office,NaN,Fort Lauderdale,Florida,33311.0,Central,Technology,Labels,OFF-LA-10000240,10.0,10.0,5.0,5.0
3,4,unknown,NaN,NaN,Concord,North Carolina,90032.0,East,NaN,Tables,FUR-TA-10000577,780.0,960.0,7.0,4.0
4,5,First Class,NaN,NaN,Seattle,Washington,28027.0,NaN,NaN,Storage,OFF-ST-10000760,20.0,20.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9990,9991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9991,9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9992,9993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9993,9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Replace Invalids
# 4.2. Replace 'Not Available' and 'unknown' in Ship Mode with NaN
data= df['Ship Mode']
filter =df[(df['Ship Mode'] == 'Not Available' )|(df['Ship Mode'] == 'unknown') ]
jumper = (data == 'Not Available' ).sum()
print(filter)

    Order Id  Order Date      Ship Mode      Segment        Country  \
5          6  2022-03-13  Not Available     Consumer  United States
8          9  2023-03-23  Not Available     Consumer  United States
10        11  2023-03-31  Not Available     Consumer  United States
11        12  2023-12-25  Not Available     Consumer  United States
14        15  2023-11-09        unknown  Home Office  United States

           City       State  Postal Code   Region         Category  \
5   Los Angeles  California        90032     West        Furniture
8   Los Angeles  California        90032     West  Office Supplies
10  Los Angeles  California        90032     West        Furniture
11  Los Angeles  California        90032     West       Technology
14   Fort Worth       Texas        76106  Central  Office Supplies

   Sub Category       Product Id  cost price  List Price  Quantity  \
5   Furnishings  FUR-FU-10001487          50          50         7
8       Binders  OFF-BI-10003910          20          20         3
10       Tables  FUR-TA-10001539        1470        1710         9
11       Phones  TEC-PH-10002033         750         910         4
14   Appliances  OFF-AP-10002311          60          70         5

    Discount Percent
5                  3
8                  2
10                 3
11                 3
14                 5

In [23]:
# 4.3. Rename all columns (lowercase, replace spaces with underscores)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.rename(columns={'Order_id':'order_id', 'Order_date':'order_date', 'Ship_mode':'ship_mode','Segment':'segment', 'Country':'country','City':'city','Region':'region','Category':'category','Quantity':'quantity','State':'state',
     'Postal_code':'postal_code', 'Sub_category':'sub_category',
       'Product_id':'product_id', 'Cost_price':'cost_price', 'List_price':'list_price', 'Discount_percent':'discount_percent'}, inplace =True)
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [24]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [ ]:
#4.4. Create Derived Columns: 
# Computing discount column

df['discount'] = (df['list_price'] * df['discount_percent']) / 100

In [33]:
# computing selling price column
df['selling_price'] = df['list_price'] - df['discount']

In [34]:
#computing a profit column as selling_price - cost_price.
df['profit'] = df['selling_price'] - df['cost_price']

In [ ]:
#4.5. Drop Unneeded Columns
df.drop(['cost price','List Price'], axis=1, inplace=True)

In [36]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount_percent', 'discount',
       'selling_price', 'profit'],
      dtype='object')

In [ ]:
# 4.6. Convert order_date to datetime
df['order_date'] = pd.to_datetime(df['order_date'])

In [ ]:

from sqlalchemy import create_engine, Column, Integer, String, MetaData,DECIMAL,TIMESTAMP,Numeric
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\saddiqq\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Define the connection to postgresql (retail_db database)
DATABASE_URL = ("postgresql+psycopg2://postgres:admin$@localhost:5432/postgres"
)

In [5]:
# create a new engine connected to retail_db
# Base = declarative_base()

engine = create_engine(DATABASE_URL)
Base = declarative_base()

C:\Users\Saddiqq\AppData\Local\Temp\ipykernel_56336\3751361868.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [6]:
# RETURN THE SQLACHEMY ENGINE OBJECT
DATABASE_URL = "postgresql+psycopg2://postgres:admin@localhost:5432/postgres"

# create a new engine connected to retail_db
# Base = declarative_base()
Base = declarative_base()

#TABLE NAME DEFINING AND CREATION
__table_name__ = 'Retail_Orders'
if __table_name__ == '__Retail_Orders__':

    try:
      
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = create_engine(DATABASE_URL) 
        print(f"Connection to the {postgres} for user {localhost} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

C:\Users\Saddiqq\AppData\Local\Temp\ipykernel_56336\1170516502.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [40]:
# RETURN THE SQLACHEMY ENGINE OBJECT
DATABASE_URL = "postgresql+psycopg2://postgres:admin@localhost:5432/postgres"

# create a new engine connected to retail_db
# Base = declarative_base()
Base = declarative_base()

C:\Users\Saddiqq\AppData\Local\Temp\ipykernel_26216\914397173.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [8]:
#RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        DATABASE_URL = "postgresql+psycopg2://postgres:admin@localhost:5432/postgres"
        )

In [9]:
#TABLE NAME DEFINING AND CREATION
_table_name_ = 'Retail_Orders'
if _table_name_ == '_Retail_Orders_':

    try:
      
        
# GET  CONNECTION (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {postgres} for user {localhost} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

In [ ]:
import pandas as pd

In [10]:
#5.2. Define Table Schema )

from sqlalchemy import create_engine, Column, String, Date, DECIMAL, MetaData, Table

# PostgreSQL credentials
user = 'postgres'
password = 'admin'
host = 'localhost'
port = 5432
database = 'postgres'


# Create SQLAlchemy engine (for PostgreSQL)
def get_connection():
    return create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

engine = get_connection()
metadata = MetaData()

orders = Table('Retail_orders', metadata,
    Column('order_id', String(20), primary_key=True),
    Column('customer_id', String(20), nullable=False),
    Column('order_date', Date, nullable=False),
    Column('category', String(50)),
    Column('sub_category', String(50)),
    Column('product_id', String(20)),
    Column('list_price', DECIMAL(10, 2)),
    Column('discount_percent', DECIMAL(5, 2)),
    Column('cost_price', DECIMAL(10, 2)),
    Column('ship_mode', String(50)),
    Column('city', String(100)),
    Column('state', String(100)),
    Column('region', String(50))
)

# Create table in the database
metadata.create_all(engine)

In [14]:
##Pandas DataFrame (df) to a SQL database table
df.to_sql('retail_orders', con=engine, if_exists='append', index=False)

994

In [ ]:
#Python Queries
# 6.1. Total Revenue per Category
print(df.groupby("category")["selling_price"].sum().sort_values(ascending=False))

category
Technology         806873.5
Furniture          715340.7
Office Supplies    693644.5
Name: selling_price, dtype: float64

In [81]:
# 6.2. Top 3 Profitable Cities
print(df.groupby("city")["profit"].sum().sort_values(ascending=False).head(3))

city
New York City    20925.7
Los Angeles      15088.4
San Francisco    10140.1
Name: profit, dtype: float64

In [83]:
# 6.3. Profit Margin per Product
df_margin = df.groupby("product_id").agg({"profit": "sum", "selling_price": "sum"})
df_margin["margin_percent"] = (df_margin["profit"] / df_margin["selling_price"]) * 100
print(df_margin.sort_values("margin_percent", ascending=False).head(25))

                 profit  selling_price  margin_percent
product_id
OFF-AP-10000124     9.4           29.4       31.972789
FUR-FU-10001379    18.5           58.5       31.623932
TEC-AC-10002380     8.5           28.5       29.824561
OFF-EN-10003798    17.7           67.7       26.144756
OFF-LA-10000414    34.9          144.9       24.085576
OFF-ST-10001627     9.2           39.2       23.469388
OFF-PA-10001260    17.6           87.6       20.091324
OFF-PA-10004782    17.6           87.6       20.091324
OFF-SU-10000946    26.3          136.3       19.295671
OFF-AR-10000411    16.5           86.5       19.075145
TEC-MA-10003493    16.4           86.4       18.981481
TEC-MA-10000904    63.2          333.2       18.967587
TEC-AC-10004209    25.7          135.7       18.938836
OFF-AP-10000252    25.0          135.0       18.518519
FUR-BO-10002202    72.0          392.0       18.367347
OFF-EN-10001028    17.4           97.4       17.864476
OFF-PA-10003309    17.3           97.3       17.780062
OFF-BI-10003963    17.2           97.2       17.695473
TEC-PH-10004774    32.1          182.1       17.627677
OFF-AP-10003099    34.0          194.0       17.525773
OFF-AR-10004511     8.5           48.5       17.525773
TEC-AC-10004114    60.8          350.8       17.331813
OFF-AP-10001492    58.5          338.5       17.282127
FUR-TA-10003837     8.3           48.3       17.184265
OFF-PA-10003729     8.3           48.3       17.184265

In [84]:
# 6.4. Order Counts by Shipping Mode
print(df["ship_mode"].value_counts())

ship_mode
Standard Class    5962
Second Class      1945
First Class       1538
Same Day           543
Not Available        4
unknown              1
Name: count, dtype: int64

In [ ]:
#6.5. Month with Highest Orders: Find the month number (MONTH(order_date)) with the greatest count of order_id
def highest_Orders(cur):
   cur.execute(
       "SELECT EXTRACT(MONTH FROM order_date) AS month_number, COUNT(order_id) AS orders_count FROM tria_data.orders GROUP BY month_number ORDER BY orders_count DESC LIMIT 1;")
   tables =cur.fetchall()
   result = pd.DataFrame(tables, columns=['month_number', 'orders_count'])
   print(result)

In [85]:
# 6.6. Top 5 Most Discounted Products
print(df[["product_id", "discount"]].sort_values(by="discount", ascending=False).head(5))

           product_id  discount
2697  TEC-MA-10002412     905.6
8153  TEC-CO-10004722     560.0
4190  TEC-CO-10004722     525.0
6826  TEC-CO-10004722     525.0
9039  OFF-BI-10000545     494.5

In [89]:
# 6.7. Top 3 Cities by Sales
print(df.groupby("city")["selling_price"].sum().sort_values(ascending=False).head(3))

city
New York City    247205.7
Los Angeles      169758.4
Seattle          115358.7
Name: selling_price, dtype: float64

In [90]:
# 6.8. Average Profit for 2023
print(df[df["order_date"].dt.year == 2023]["profit"].mean())

20.889348396207385

In [91]:
# 6.9. Sub-Category Sales Ranking
print(df.groupby("sub_category")["selling_price"].sum().sort_values(ascending=False).head(5))

sub_category
Phones     318008.3
Chairs     316825.1
Storage    215908.0
Tables     199361.2
Binders    196038.6
Name: selling_price, dtype: float64

In [92]:
# 6.10. Avg Selling Price per Category
print(df.groupby("category")["selling_price"].mean().sort_values(ascending=False))

category
Technology         436.856253
Furniture          337.265771
Office Supplies    115.108613
Name: selling_price, dtype: float64

In [93]:
# 6.11. Top 10 Products by Order Count
print(df["product_id"].value_counts().head(10))

product_id
OFF-PA-10001970    19
TEC-AC-10003832    18
FUR-FU-10004270    16
FUR-CH-10001146    15
TEC-AC-10003628    15
FUR-CH-10002647    15
TEC-AC-10002049    15
OFF-BI-10004632    14
OFF-BI-10001524    14
FUR-CH-10002880    14
Name: count, dtype: int64

In [94]:
# 6.12. Top 5 Profitable Products
print(df.groupby("product_id")["profit"].sum().sort_values(ascending=False).head(5))

product_id
TEC-CO-10004722    5644.0
TEC-MA-10002412    3624.4
OFF-BI-10003527    3435.3
TEC-CO-10001449    2631.2
FUR-CH-10002024    2246.2
Name: profit, dtype: float64

In [95]:
# 6.13. Year with Highest Sales
print(df.groupby(df["order_date"].dt.year)["selling_price"].sum().idxmax())

2023

In [96]:
# 6.14. Region with Lowest Discount
print(df.groupby("region")["discount"].mean().sort_values().head(1))

region
Central    7.490917
Name: discount, dtype: float64

In [98]:
# 6.15. Yearly Sales Growth
print(df.groupby(df["order_date"].dt.year)["selling_price"].sum())

order_date
2022    1095590.2
2023    1120268.5
Name: selling_price, dtype: float64

In [97]:
# 6.16. Profit Contribution by Category
total_profit = df["profit"].sum()
print((df.groupby("category")["profit"].sum() * 100 / total_profit))

category
Furniture          32.402945
Office Supplies    30.343079
Technology         37.253977
Name: profit, dtype: float64

In [99]:
# 6.17. Most Common Shipping Mode
print(df["ship_mode"].value_counts().idxmax())

Standard Class

In [101]:
# 6.18. Highest Avg Order Value by Region
print(df.groupby("region")["selling_price"].mean().sort_values(ascending=False).head(1))

region
South    233.340432
Name: selling_price, dtype: float64

In [102]:
# 6.19. Category & Sub-Category Sales
print(df.groupby(["category", "sub_category"])["selling_price"].sum())

category         sub_category
Furniture        Bookcases       110816.1
                 Chairs          316825.1
                 Furnishings      88338.3
                 Tables          199361.2
Office Supplies  Appliances      103697.7
                 Art              26259.8
                 Binders         196038.6
                 Envelopes        15917.2
                 Fasteners         2938.9
                 Labels           11994.9
                 Paper            75831.3
                 Storage         215908.0
                 Supplies         45058.1
Technology       Accessories     161604.6
                 Copiers         144358.9
                 Machines        182901.7
                 Phones          318008.3
Name: selling_price, dtype: float64

In [103]:
# 6.20. Top 3 Profitable Products per Sub-Category
top3_per_sub = df.groupby(["sub_category", "product_id"])["profit"].sum().reset_index()
top3 = top3_per_sub.groupby("sub_category").apply(lambda x: x.nlargest(3, "profit")).reset_index(drop=True)
print(top3)

   sub_category       product_id  profit
0   Accessories  TEC-AC-10002049  1403.2
1   Accessories  TEC-AC-10003033  1240.4
2   Accessories  TEC-AC-10003832  1021.3
3    Appliances  OFF-AP-10002945  1244.5
4    Appliances  OFF-AP-10002651   710.0
5    Appliances  OFF-AP-10000275   680.1
6           Art  OFF-AR-10000380   168.6
7           Art  OFF-AR-10001953   153.1
8           Art  OFF-AR-10002671   136.7
9       Binders  OFF-BI-10003527  3435.3
10      Binders  OFF-BI-10001359  2080.2
11      Binders  OFF-BI-10000545  1959.0
12    Bookcases  FUR-BO-10004834  1614.1
13    Bookcases  FUR-BO-10002213  1021.2
14    Bookcases  FUR-BO-10002545   842.3
15       Chairs  FUR-CH-10002024  2246.2
16       Chairs  FUR-CH-10001854  1146.2
17       Chairs  FUR-CH-10004287  1023.7
18      Copiers  TEC-CO-10004722  5644.0
19      Copiers  TEC-CO-10001449  2631.2
20      Copiers  TEC-CO-10003763  1121.4
21    Envelopes  OFF-EN-10003001   141.7
22    Envelopes  OFF-EN-10000056   127.0
23    Envelopes  OFF-EN-10002230   100.1
24    Fasteners  OFF-FA-10004854    41.0
25    Fasteners  OFF-FA-10003112    14.9
26    Fasteners  OFF-FA-10003495    12.8
27  Furnishings  FUR-FU-10001468   325.8
28  Furnishings  FUR-FU-10000576   324.3
29  Furnishings  FUR-FU-10003806   257.0
30       Labels  OFF-LA-10003930   181.2
31       Labels  OFF-LA-10003510   107.0
32       Labels  OFF-LA-10002762    89.9
33     Machines  TEC-MA-10002412  3624.4
34     Machines  TEC-MA-10000822  1612.5
35     Machines  TEC-MA-10001047  1607.0
36        Paper  OFF-PA-10000357   225.7
37        Paper  OFF-PA-10000994   199.2
38        Paper  OFF-PA-10000418   191.8
39       Phones  TEC-PH-10001459  1290.7
40       Phones  TEC-PH-10002885  1272.9
41       Phones  TEC-PH-10001530   891.2
42      Storage  OFF-ST-10000078  1216.6
43      Storage  OFF-ST-10001490   988.5
44      Storage  OFF-ST-10001780   960.9
45     Supplies  OFF-SU-10002881  1290.7
46     Supplies  OFF-SU-10000151  1215.8
47     Supplies  OFF-SU-10000646   258.8
48       Tables  FUR-TA-10000198  1229.7
49       Tables  FUR-TA-10001889   979.1
50       Tables  FUR-TA-10003473   857.8

C:\Users\Saddiqq\AppData\Local\Temp\ipykernel_26216\608784625.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top3 = top3_per_sub.groupby("sub_category").apply(lambda x: x.nlargest(3, "profit")).reset_index(drop=True)

In [104]:
# 6.21. Monthly Order Counts for 2023
print(df[df["order_date"].dt.year == 2023].groupby(df["order_date"].dt.month)["order_id"].count().sort_values(ascending=False))

order_date
7     477
12    446
3     434
8     420
1     419
10    418
11    413
2     401
5     401
4     400
6     375
9     353
Name: order_id, dtype: int64

In [105]:
# 6.22. States with Lowest Sales
print(df.groupby("state")["selling_price"].sum().sort_values().head(10))

state
North Dakota             877.7
West Virginia           1170.6
Maine                   1239.9
South Dakota            1276.8
Wyoming                 1536.0
District of Columbia    2789.3
Kansas                  2815.5
Idaho                   4225.2
Iowa                    4413.1
New Mexico              4619.0
Name: selling_price, dtype: float64

In [106]:
# 6.23. Top 5 States by Revenue
print(df.groupby("state")["selling_price"].sum().sort_values(ascending=False).head(5))

state
California      441657.0
New York        299597.5
Texas           164276.9
Washington      133779.7
Pennsylvania    112417.4
Name: selling_price, dtype: float64

In [107]:
# 6.24. Avg Discount by Sub-Category
print(df.groupby("sub_category")["discount"].mean().sort_values(ascending=False))

sub_category
Copiers        76.045588
Machines       55.289565
Tables         23.475862
Chairs         18.484441
Bookcases      17.341667
Phones         13.398988
Storage         9.115839
Supplies        9.115263
Appliances      7.944850
Accessories     7.619871
Binders         4.577413
Furnishings     3.345559
Envelopes       2.255118
Paper           2.057445
Labels          1.167857
Art             1.130905
Fasteners       0.465899
Name: discount, dtype: float64

In [108]:
# 6.25. Top 10 Products by Revenue
print(df.groupby("product_id")["selling_price"].sum().sort_values(ascending=False).head(10))

product_id
TEC-CO-10004722    59514.0
OFF-BI-10003527    26525.3
TEC-MA-10002412    21734.4
FUR-CH-10002024    21096.2
OFF-BI-10001359    19090.2
OFF-BI-10000545    18249.0
TEC-CO-10001449    18151.2
TEC-MA-10001127    17906.4
OFF-BI-10004995    17354.8
OFF-SU-10000151    16325.8
Name: selling_price, dtype: float64