## variables

In [13]:
# assigning variables
x = 10
print(x)

10

In [14]:
x = 'puppy'
print(x)

puppy

In [15]:
a = 2
b = 3.4
C = "my name is maryam"
t = False
print(type(t))

<class 'bool'>

In [16]:
# list
pet_name = ['simba', 'chura', 'huskie,' 'boobo,' 'Fluffy']
print(type(pet_name))

<class 'list'>

In [17]:
# dictionary
age = {'Tiffany': 30, 'Alfred': 20, 'Jana': 40, 'Mary': 29}
print(type(age))

<class 'dict'>

In [18]:
# Tuple
#store items that are unchangeable
age = (20,30,40,50,60,70,80)
print (type(age))

<class 'tuple'>

In [19]:
# set
# remove duplicates
age = (11,45,11,45,37.94)
print (age)
print(type(age))

(11, 45, 11, 45, 37.94)
<class 'tuple'>

In [20]:
x = "Cutie"
print(x)

Cutie

### u can execute text
#3# 1.PEP  8 rules-official style for python
- indentation
.line length-79 char,72 char(docs string /comments)
this is a line of code:
-imports
-white spaces
#3# 2.rules of names identifiers
names used to identify one variables, functions,classes ,modules or other object

In [21]:
my_first_code = 'was so excited'
MY_FIRST_CODE = 'was so excited'
def my_first_coding():
    return 'was so excited'

In [22]:
my_first_code

'was so excited'

In [23]:
my_name = "Maryam's car"

In [24]:
###int
#str = always use quotations
#float
#boolean
#set
#dictionary

In [25]:
print(my_name)

Maryam's car

In [26]:
my_name

"Maryam's car"

In [27]:
#functions to calculate-Variable - stores data in
revenue =37000.00
cost = 930.00

In [28]:
profit  = revenue - cost
profit

36070.0

In [ ]:
print("........Age identifier....")
Current_year = int(input('enter Current_year :'))
Born_year = int(input('enter Born_year :'))
Age = Current_year - Born_year
print(Age)

........Age identifier....

###data structures
1.List-[]- ordered - mutable
2.Dictionary {}- unordered -mutable- a key value pair- {'Age':30 }
3.Tuple- ()-unordered -imutable
4.Set-{}-Ordered, no duplicates

In [ ]:

fruits = ('Mango', 'Cherry', 'Apples')
fruits_t = ('Mango','Cherry', "Apples")
fruits

('Mango', 'Cherry', 'Apples')

In [ ]:
#dict
user = {
    'name':'Peter',
    'Age':'40',
 'Location':'Kilimani'}

In [ ]:
user

{'name': 'Peter', 'Age': '40', 'Location': 'Kilimani'}

In [ ]:
user.values()

dict_values(['Peter', '40', 'Kilimani'])

In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\saddiqq\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\saddiqq\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd

In [ ]:
##using lists in dictionaries as per our data

[{'name': 'Peter', 'Age': '40', 'Location': 'Kilimani'}]

[{'name': 'Peter', 'Age': '40', 'Location': 'Kilimani'}]

In [ ]:
users = [{'name': 'Peter', 'Age': '40', 'Location': 'Kilimani'}]

df = pd.DataFrame(users)

print(df)

    name Age  Location
0  Peter  40  Kilimani

###loops-Repeats code multiple times

Each loop needs:
Starting point – where the loop begins
Condition or sequence – when to keep looping
Code block – what to repeat

1.for Loops- iteration-Repeats over items in a list, string, range

2.while loop-Repeats while a condition is true-good when you don't know how many times to repeat

In [ ]:
### for loops
##infinite-This will go on forever unless you stop it!")
x = 1
while True:
    print("xis" ,x)
x+=1
if x >3:
   breakpoint

In [18]:
## If loop
salary = [23000, 563898, 8663, 75322, 38653]

for salo in salary:
    salo_increase = salo*1.19
    print(salo_increase)

27370.0
671038.62
10308.97
89633.18
45997.07

In [ ]:
###Skipping with continue
num = 0

while num < 5:
    num += 1
    if num == 3:
        continue  # Skip number 3
    print(num)

1
2
4
5

In [ ]:
password = ""

while password != "open123":
    password = input("Enter password: ")

print("Access granted!")

Access granted!

In [ ]:
count = 1
while count <=4:
    print(count)
    count += 1
else:
    print("loop ended without a break")

1
2
3
4
loop ended without a break

In [ ]:
#Real-Life Use Case: Retry Until Success
attempts = 0

while attempts <=3:
    pin = input("Enter PIN:")
    print("access granted.")
    if pin =="4567":

        print("Access granted.")
        break
    else:
        print("Wrong Pin")
    attempts +=1
else:
    print("Too many attempts")

access granted.
Wrong Pin
access granted.
Access granted.

In [46]:
## If loop
salary = [23000, 563898, 8663, 75322, 38653]

In [17]:
for salo in salary:
    salo_increase = salo*1.19
    print(salo_increase)

27370.0
671038.62
10308.97
89633.18
45997.07

In [38]:
age = 79
if 18 < age < 26:
    print('Big enough')
elif 27 < age < 57:
    print('Get married')
elif 58 < age < 100:
    print('Get retired')
else:
    print('Still babies')

Get retired

In [41]:
# Functions can be reused
def display_functions(list):
    for item in list:
        print(item)

In [49]:
display_functions(salary)

23000
563898
8663
75322
38653

In [2]:
# function with two arguments

def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

# function call with two values
add_numbers(5, 4)

Sum:  9