In [1]:
#correct the error in this code
#Print(‘he said “it’s raining”’
print("he said,\"it's raining\"")

he said,"it's raining"

In [2]:
### string methods: 
##.upper()
##Converts all characters in a string to uppercase.
price ="the price is high"
print(price.upper())


##.lower()
##Converts all characters in a string to lowercase.
price ="the price is high"
print(price.lower())


##.strip()
##Removes any leading and trailing whitespace (spaces, tabs, newlines).
price ="  the price is high  "
print(price.strip())


##.replace(old, new)
##Replaces occurrences of a substring with another substring.
price = "the price is low"
print(price.replace("high" , "low"))

football = "!!!wow what a great day @"
print(football.strip("! @"))

THE PRICE IS HIGH
the price is high
the price is high
the price is low
wow what a great day

In [3]:
##examples of all arithmetic operations- mix floats and intergers
#Addition
result =6+4.2
print(result)

10.2

In [4]:
#subtraction
result=11-5
print(result)

6

In [5]:
 #Multiplication
result =3*4.5
print(result)

13.5

In [6]:
#divisio (/)Always returns a float
result = 8/4
print(result)

2.0

In [7]:
#floor division (//)returns the largest whole number less than or equal to the result
result = 9//2.0
print(result)

4.0

In [8]:
#Modulus (%)-returns the remainder
result = 10 % 3.0
print(result)

1.0

In [9]:
##Exponentiation (**)
result = 5 ** 4.2
print(result)

862.3310384132595

In [10]:
## Casting-the process of converting one data type into another
#integer to float
x = 5
y = float(x)
print(y)

5.0

In [11]:
#float to integer
x = 3.0
y = int(x)
print(y)

3

In [12]:
#int to string
x = 50
y = str(x)
print(y)

50

In [13]:
#str to int
x = "200"
y = int(x)
print (y)

200

In [14]:
#str to float
x = "3.14" 
y =float(x)
print(y)

3.14

In [15]:
# float to string
x = 9.81
y = str(x)
print(y)

9.81

In [16]:
##5 formated f strings
#simple variable insertion
name = "Jane"
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is Jane and I am 30 years old.

In [17]:
##Floating Point with 2 Decimal Places
# align text
#date format 
import datetime

today = datetime.date.today()
print(f"Today's date is {today:%B %d, %Y}")

#This uses an f-string with a date formatting specifier:
#%B → full month name (e.g., May)
#%d → two-digit day (e.g., 30)
#%Y → four-digit year (e.g., 2025)

Today's date is June 03, 2025

In [18]:
name = "Cutie" 
age = 35
print(f"(my name is {name} and i am {age}")

(my name is Cutie and i am 35

In [19]:
MAX_PLAYERS =12
print(f"Max Players Allowed: {MAX_PLAYERS}")
ESCORT_CARS = ['lIMO','JEEP','LEXUS']
print(f"Escort Cars: {ESCORT_CARS}")
SPEED_LIMIT = 120
print(f"Speed Limit: {SPEED_LIMIT} km/h")
PHONE_BRANDS = ['SAMSUNG', 'HUAWEI', 'IPHONE']
print(f"Phone Brands: {PHONE_BRANDS}")
MONTHS_IN_A_YEAR = 12
print(f"Months in a Year: {MONTHS_IN_A_YEAR}")

Max Players Allowed: 12
Escort Cars: ['lIMO', 'JEEP', 'LEXUS']
Speed Limit: 120 km/h
Phone Brands: ['SAMSUNG', 'HUAWEI', 'IPHONE']
Months in a Year: 12

In [20]:
print(f"In 5 years, I'll be {age + 5}")

In 5 years, I'll be 40

In [21]:
# Boolean 
print(10>9)
print (10==9)
print(10<9)

True
False
False

In [22]:
fruits =["apples","grapes","banana"]
print("banana" in fruits)
print("apples" not in fruits)

True
False

In [23]:
a = True
b = False
print(a and b)
print (a or b)

False
True

In [24]:
#dictionaries'
x = {'type' : 'fruits' , 'name' : 'banana'}
print(x['name'])

banana

In [25]:
car = {"brand" : "Ford","model": "Mustang", "Year" : 1964}
print(f"The car is a {car['Year']} {car['brand']} {car['model']}.")

The car is a 1964 Ford Mustang.

In [26]:
#Dictionaries
car =	{"brand": "Ford","model": "Mustang", "year": 1964}
student = {"name": "John","grades": [85, 90, 78],"subjects": ["Math", "Science", "English"]}
person = {"name": "Cess","age": 30,"city": "New York"}
product = {"id": 201,"name": "phone","price": 20.000,"in_stock": True}

In [27]:
#Indexing lets you access individual items in a list using their position.

colours = ['green', 'purple' , 'pink']
print(colours [0])
print(colours[2])

#Negative indexing:(last item)
print(colours[-1])

green
pink
pink

In [28]:
#Slicing allows you to get a subset of the list (a slice)
#list[start:] → starts at `start` index, goes to the end.
#list[:stop]  → starts at beginning, ends **before** `stop`

colours[::2]

['green', 'pink']

In [29]:
 #F strings
print(f"The car is a {car['Year']} {car['brand']} {car['model']}.")
print(f"The person's name is {person['name']} and age is {person['age']}.")
print(f"{student['name']}'s grades are {student['grades']} and subjects are {student['subjects']}.")
print(f"Product: {product['name']} costs ${product['price']} and in stock: {product['in_stock']}.")

KeyError: 'Year'

In [ ]:
#To access values from a dictionary in Python, you use the key inside square brackets [ ].
product = {"id": 201, "name": "phone", "price": 20.000, "in_stock": True}

print(product['id'])        # 201
print(product['name'])      # phone
print(product['price'])     # 20.0
print(product['in_stock'])  # True

201
phone
20.0
True

In [ ]:
###loops using sets, dictionary and tuple 
#for

fruits = {"apple", "banana", "cherry"}
for fruit in fruits: 
    print(fruit)
    if fruit == "apple":
        print("the apple is too large")
    elif fruit != "apple":
        print("buy a different size")
    else:
        print('the apple is still needed')

banana
buy a different size
apple
the apple is too large
cherry
buy a different size

In [ ]:
#loops/for
names = ['Mary', 'Cate' , 'Agatha']
for name in names:
    print(f'Hello , {name}')
    if name == "Mary":
        print("print all names")
    elif name != "Mary":
        print("i am the first born")
        break
else:
    pass

Hello , Mary
print all names
Hello , Cate
i am the first born

In [ ]:
# For...tuple loop
num = (30, 45, 60, 50, 70)
sum = 0
for i in num:
    sum = sum + i
if i >= 45:
     print(f"{i} is a minimum score")

70 is a minimum score

In [ ]:
## for loop
salary = [23000, 563898, 8663, 75322, 38653]

for salo in salary:
    salo_increase = salo*1.19
    print(salo_increase)

27370.0
671038.62
10308.97
89633.18
45997.07

In [ ]:
#if loops
names: list[str] = ['Mary', 'Cate', 'Agatha']

for name in names:
    if name == 'Mary':
        print(f"Hello {name}, you're amazing!")
    elif name == 'Cate':
        print(f"Hi {name}, have a great day!")
    elif name == 'Agatha':
        print(f"Welcome {name}, nice to see you!")
    else:
        print(f"Hello {name}")

Hello Mary, you're amazing!
Hi Cate, have a great day!
Welcome Agatha, nice to see you!

In [ ]:
##If
age = 79
if 18 < age < 26:
    print('Big enough')
elif 27 < age < 57:
    print('Get married')
elif 58 < age < 100:
    print('Get retired')
else:
    print('Still babies')

Get retired

In [ ]:
#While loop
    # true:-some sort of condition
a: int = 1
b: int = 2
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)
print(a != b)
print(a + b)

False
False
True
True
False
True
3

In [ ]:
count = 1  # Start with a value <= 4

while count <= 4:
    print(count)
    count += 1
else:
    print("loop ended without a break")

1
2
3
4
loop ended without a break

In [ ]:
#Real-Life Use Case: Retry Until Success
attempts = 0

while attempts <=3:
    pin = input("Enter PIN:")
    print("access granted.")
    if pin =="4567":

        print("Access granted.")
        break
    else:
        print("Wrong Pin")
    attempts +=1
else:
    print("Too many attempts")

access granted.
Access granted.

In [ ]:
fruits = {"apple", "banana", "cherry"}
finding = input()
for fruit in fruits:
    if finding == "list":
        print(fruit)

    elif fruit == finding:
        print(f"here is {finding}")
        break
else:
    print(f"there is no {finding}")

apple
banana
cherry
there is no list

In [ ]:
i =1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1 ## Increment the value of the variable "number by 1"

1
2
3

In [1]:
# function with two arguments

def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

# function call with two values
add_numbers(5, 4)

Sum:  9

In [10]:
def add(a, b):
    result = a+b
    print(result)
    
add(3,5)

8

In [12]:
def is_even(n):
    if n % 2 == 0:
        print(f'{n} is even')
    else:
        print(f'{n} is an odd number')

is_even(25)

25 is an odd number

In [13]:
def is_even(n=4):
    if n % 2 == 0:
        print(f'{n} is even')
    else:
        print(f'{n} is an odd number')

is_even()

4 is even

In [15]:
#Local variables
def say_hello():
    message ="Hello!"
    print(message)

    say_hello()